<<<<<<< HEAD
@import url('../style.css');

main {
  text-align: left;
}

ul.text-left {
  list-style: disc;
  padding-left: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
=======
@import url('../style.css');

main {
  text-align: left;
}

ul.text-left {
  list-style: disc;
  padding-left: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
>>>>>>> 7429ce2c2dec2ec8bed49928d644f130b50e1035
